# Node.js modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env

# Build output
dist/
build/

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
